@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply w-2.5;
  }
  .scrollbar::-webkit-scrollbar-track {
    @apply bg-thischord-800;
    @apply rounded-full;
    @apply my-2;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-thischord-900;
    @apply rounded-full;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}

html {
  @apply text-white;
}
#app {
  height: 98vh;
  @apply p-2;
}
