.chat-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message-container {
  display: flex;
  position: relative;
  flex-direction: column;
}

.message-container:hover {
  background-color: var(--dark-200);
}

.message-info {
  display: flex;
  grid-gap: 1em;
  padding-bottom: 0.2em;
  margin-top: 1em;
}

.message-time {
  font-size: 0.8em;
  color: var(--light);
}
.message-text {
  padding: 0.1em 0;
}

.message-actions {
  padding: 0;
  position: absolute;
  top: -1em;
  right: 1em;
  align-self: end;
  width: fit-content;
  height: 2em;
  flex-direction: row;
  border-radius: 0.3em;
  border: 0.1em solid var(--dark-100);
  overflow: clip;
}
.message-action {
  background-color: var(--dark-300);
  border: none;
  color: var(--text);
  padding: 0.7em;
}

.message-action:hover {
  background-color: var(--dark-400);
}

.chat-window {
  display: grid;
  height: 100%;
  grid-template-areas: "header" "messages" "footer";
  grid-template-rows: 1em 1fr auto;
}

.chat-window footer form {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.chat-window footer * {
  height: 100%;
  margin: 0;
  column-gap: 0.3em;
}

.chat-window footer form input {
  flex: 1;
  border: none;
  border-radius: 0.3em;
  background-color: var(--dark-400);
  color: var(--white);
  padding: 0 1em;
}

.scroll {
  padding-top: 1em;
  overflow-x: hidden;
  overflow-y: auto;
}
