.chat-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8em;
}

.message-info {
  display: flex;
  grid-gap: 1em;
  padding-bottom: 0.2em;
}

.message-time {
  font-size: 0.8em;
  color: var(--light);
}

.message-actions {
  padding: 0;
  position: relative;
  top: 0;
  display: flex;
  width: fit-content;
  flex-direction: row;
  border-radius: 0.3em;
  overflow: clip;
}
.message-action {
  background-color: var(--medium);
  border: none;
  color: var(--text);
  padding: 0.7em;
}
.message-action:hover {
  background-color: var(--hover);
}

.message-container:hover .message-actions {
  display: flex;
}

.chat-window {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;
}

.chat-window footer form {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.chat-window footer form input {
  flex: 1;
  border: none;
  border-radius: 0.3em;
  background-color: var(--medium);
  color: var(--white);
  padding: 0 1em;
}
