@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "chat.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --dark-50: #202225;
  --dark-100: #2f3136;
  --dark-200: #32353b;
  --dark-300: #36393f;
  --dark-400: #40444b;
  --dark-500: #565c61;
  --light: #99aab5;
  --text: #b7c2ce;
  --text-disabled: #72767d;
  --white: #f1f1f1;
  --page-padding: 0.2rem;
  --internal-padding: 1rem;
  --success: #38a25d;
  --danger: #9d3232;
  background-color: var(--dark-50);
}

/*===== MAIN PAGE LAYOUT ======*/

* {
  font-family: "Nunito", sans-serif;
  color: var(--white);
}

.page {
  padding: var(--page-padding);
  display: grid;
  height: 95vh;
  grid-template-areas: "header header" "sidebar content";
  grid-template-columns: 25% 75%;
  grid-template-rows: 5em 1fr;
  grid-gap: 0;
  border-radius: 1rem;
  overflow: clip;
}

.page > * {
  padding: var(--internal-padding);
}

.page-fullsize {
  padding: var(--page-padding);
  display: grid;
  height: 95vh;
  grid-template-areas:
    "header"
    "content";

  grid-template-rows: 5em 1fr;
  grid-gap: 0;
  border-radius: 1rem;
  overflow: clip;
}

.page-fullsize > * {
  padding: var(--internal-padding);
}

.header {
  display: flex;
  flex-direction: row;
  font-family: "Arial Black", serif;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-300);
  border-bottom: 2px solid var(--dark-50);
  grid-area: header;
}

.content {
  background-color: var(--dark-300);
  grid-area: content;
  min-height: 0;
}

.sidebar {
  background-color: var(--dark-100);
  grid-area: sidebar;
}

/*===== GENERIC COMPONENTS ======*/

.icon {
  padding: 0 0 0 0;
}

.loading-component {
  height: 100%;
}

.loading-component div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  border-radius: 100%;
  border: 0.2em solid var(--light);
}

.title {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.login-window {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr;
}

.login-buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  column-gap: 0.5em;
  align-items: center;
  background-color: var(--dark-400);
  color: var(--light);
  padding: 1em;
  margin: 0.3em;
  border: none;
  border-radius: 0.3em;
}

.button:hover {
  background-color: var(--dark-500);
}

.button a {
  color: green;
}

.icon-with-text {
  display: flex;
  column-gap: 0.5em;
}

form textarea {
  font-family: inherit;
  width: calc(100% - 1rem); /*Hack to get proper padding*/
  margin: 1rem 0;
  padding-top: 1rem;
  padding-left: 1rem;
  border: none;
  background-color: var(--dark-400);
  color: var(--white);
  border-radius: 0.3em;
  resize: none;
  overflow-y: auto;
}

/*===== COLOURS ======*/

.danger {
  background-color: var(--danger);
}

.has-danger {
  color: var(--danger);
}
